@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--main-background);
  color: var(--main-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6em;
  line-height: 1.8;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

.app {
  height: 100vh;
}
