@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: var(--outline, 2px solid var(--fg));
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: var(--link-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 1rem;
  flex: auto;
}