:root {
  --main-background: #333;
  --main-color: #fff;
  --search-background: #222;
  --primary-button-bg: #7744aa;
  --primary-button-bg--hover: #8855bb;
  --primary-button-bg--active: #552288;
  --primary-button-fg: #fff;
  --secondary-button-fg: #fff;
  --secondary-button-bg: #000;
  --legend-bg: #663399;
  --legend-fg: #fff;
  --table-header-bg: #000;
  --table-header-fg: #fff;
  --disabled-color: #777777;
  --header-background: #000;
  --nav-button-color: var(--main-color);
  --nav-button-hover-background: var(--main-background);
  --nav-button-hover-color: var(--main-color);
  --input-border: #aaa;
  --input-border-error: #f77;
  --input-outline: #fff;
  --input-background: #000;
  --input-color: #fff;
  --link-color: #4af;
  --danger-button-bg: #200;
  --danger-button-fg: #fcc;
  --danger-button-border: #fff;
  --tag-bg: #534;
  --tag-fg: #fff;
  --track-color-0: red;
  --track-color-1: tomato;
  --track-color-2: darkorange;
  --track-color-3: gold;
  --track-color-4: yellow;
  --track-color-5: lime;

  --header-font: 'Baloo 2', cursive;
}

html.light-mode {
  --main-background: #eee;
  --header-background: #fff;
  --main-color: #222;
  --search-background: #f4f4f4;
  --input-background: #fff;
  --input-border: #ccc;
  --input-border-error: #f77;
  --input-outline: #111;
  --input-color: #222;
  --table-header-bg: #fff;
  --table-header-fg: #222;
  --tag-bg: #ecf;
  --tag-fg: #000;
  --legend-bg: #ecf;
  --legend-fg: #000;
  --legend-border: #fff;
  --legend-border: #222;
  --link-color: #26f;

  --secondary-button-bg: #fff;
  --secondary-button-fg: #222;

  --danger-button-bg: #fcc;
  --danger-button-fg: #400;
  --danger-button-border: #222;

  --track-color-0: maroon;
  --track-color-1: crimson;
  --track-color-2: tomato;
  --track-color-3: orange;
  --track-color-4: yellowgreen;
  --track-color-5: teal;
}
