.social-links {
  a {
    font-size: 14px;
    display: inline-block;
    background: var(--secondary-button-bg);
    color: var(--secondary-button-fg);
    margin-right: 8px;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
