.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 8px;
  border: 2px solid var(--primary-button-bg);
  border-radius: 4px;
  background: var(--primary-button-bg);
  color: var(--primary-button-fg);
  text-transform: uppercase;
  text-decoration: none;

  &:active,
  &:focus {
    border: 2px solid white;
    border-radius: 0;
    outline: 3px solid var(--input-outline);
  }

  &:active {
    background: var(--primary-button-bg--active);
  }

  &:hover {
    background: var(--primary-button-bg--hover);
  }
}

.button--unstyled {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 0;
  font-weight: initial;
  text-transform: none;
  color: currentColor;
  line-height: 0;

  &:active,
  &:focus {
    border: none;
    outline: 3px solid var(--input-outline);
  }
}

.button--primary {
  border: 2px solid var(--primary-button-bg);
  background: var(--primary-button-bg);
  color: var(--primary-button-fg);
}

.button--secondary {
  border: 2px solid var(--secondary-button-fg);
  background: var(--secondary-button-bg);
  color: var(--secondary-button-fg);
}

.button--danger {
  border: 2px solid var(--danger-button-border);
  background: var(--danger-button-bg);
  color: var(--danger-button-fg);
}

.button--disabled {
  border: 2px solid var(--disabled-color);
  background: var(--input-background);
  color: var(--disabled-color);
}

.button--dropdown {
  position: relative;
}
