button {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;

  padding: 0;
  border: none;
  background: transparent;
  color: currentColor;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-transform: none;
  line-height: 0;
}

.button {

  border-radius: 4px;
  font-weight: bold;
  font-size: inherit;
  line-height: 1;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  min-height: 44px;
  background: var(--button-bg);
  color: var(--button-fg);
  transform: translateX(0) translateY(0);
  box-shadow: 4px 4px 0 0 var(--button-shadow);

  text-transform: uppercase;
  text-decoration: none;

  &:active:not([disabled]) {
    transform: translateX(4px) translateY(4px);;
    box-shadow: none;
  }

  &:hover {
    background: color-mix(in oklch, #fff 10%, var(--button-bg));
  }

  &[disabled] {
    --button-fg: var(--disabled-color);
    --button-bg: transparent;
    --button-shadow: color-mix(in-oklch, transparent 50%, var(--disabled-color));
  }
}

.button--secondary {
  border: 2px solid var(--button-fg);
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.button--danger {
  --button-bg: var(--danger-button-bg);
  --button-fg: var(--danger-button-fg);
  --button-shadow: var(--danger-button-shadow);
  box-shadow: 4px 4px 0 0 var(--danger-button-shadow);
}

.button--dropdown {
  position: relative;
}
