.form-field {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  
  > :where(*) {
    flex: 1 1 auto;
  }

  label {
    flex: 0 0 15ch;
  }

  &--error {
    input,
    select,
    textarea {
      border-color: var(--input-border-error);
    }
  }

  &__error {
    color: var(--input-border-error);
  }

}
