.header {
  background: var(--header-bg, #000);
  color: var(--header-fg, #fff);
  padding: 24px 16px;

  &::after {
    position: initial;
    margin-bottom: 100px;
  }

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    display: none;
  }
}

@media (min-width: 384px) {
  .header {
    &__title {
      display: block;
      flex: 1;

      h2 {
        margin: 0;
        font-size: 1.4em;
      }
    }
  }
}
