.header {
  position: fixed;
  background: var(--header-background);
  padding: 24px 16px;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;

  & + * {
    margin-top: 150px;
  }

  &::after {
    position: initial;
    margin-bottom: 100px;
  }

  &__content {
    @extend %content-width;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    display: none;
  }
}

@media (min-width: 384px) {
  .header {
    &__title {
      display: block;
      flex: 1;

      h1 {
        margin: 0;
        font-size: 1.4em;
      }
    }
  }
}
