.login {

  &__container {
    width: 100%;
    padding: 32px;
    background: var(--header-bg);
    color: var(--header-fg);
    border: 2px solid var(--button-bg);
  }

  &__nav {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    button {
      flex: 1;
      display: block;
      width: 100%;
      text-decoration: none;
      color: var(--button-fg);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border: none;
      background: transparent;
      border-bottom: 4px solid transparent;
      padding: 1em 0;
      &.active {
        border-bottom: 4px solid var(--button-bg);
      }
    }
  }

  &--hidden {
    display: none;
  }


}
