.login {
  @extend %content-width;
  padding: 16px 16px;
  h3 {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__nav {
    &-list {
      width: 100%;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        flex: 1;

        button {
          display: block;
          width: 100%;
          text-decoration: none;
          color: var(--secondary-button-fg);
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          border: none;
          background: transparent;
          border-bottom: 4px solid transparent;
          padding: 8px 0;
          &.active {
            border-bottom: 4px solid var(--primary-button-bg);
          }

          &:hover {
            background: var(--secondary-button-bg);
            color: var(--secondary-button-fg);
          }
        }
      }
    }

    display: flex;
  }

  h2 {
    margin: 0 0 32px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }

  &--hidden {
    display: none;
  }

  &__form {
    width: 67%;
    padding: 32px;
    background: var(--header-background);
    color: var(--main-color);
    border: 2px solid var(--primary-button-bg);
  }

  &__field {
    margin: 16px 32px;
    display: block;
    & > * {
      width: 100%;
      display: block;
    }

    @media (min-width: 1000px) {
      display: flex;
      & > * {
        flex: 1;
      }

      & > label {
        margin-right: 16px;
      }
    }
  }
}
