.result-list {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    .list-item {
      margin-bottom: 32px;
      padding: 32px;
      border-radius: 16px;
      background: var(--header-bg);
      color: var(--fg);

      &-header {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        margin-bottom: 24px;

        &__title {
          margin: 0;
          line-height: 1;
        }

        &__pronouns {
          background: var(--tag-bg);
          color: var(--tag-fg);
          border-radius: 4px;
          padding: 2px 8px;
        }

        &__location,
        &__company,
        &__website {
          display: flex;
          align-items: center;
          background: var(--tag-bg);
          color: var(--tag-fg);
          border-radius: 4px;
          padding: 2px 8px;

          svg {
            display: inline-block;
            width: 16px;
            height: 16px;
          }

          &-text {
            margin-left: 4px;
          }
        }
      }
    }

    @media (min-width: 1000px) {
      display: flex;
      flex-wrap: wrap;

      .list-item {
        flex-basis: 100%;
      }
    }
  }

  a {
    color: var(--fg);
  }
}
