.skill-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--table-header-bg);

  td,
  th {
    line-height: 1;
    vertical-align: middle;
    border: 1px solid var(--table-header-bg);
    padding: 8px;

    a {
      color: var(--fg);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  th {
    background: var(--table-header-bg);
    color: var(--table-header-fg);
    text-align: left;
  }

  &__delete {
    width: 32px;

    color: var(--fg);
  }

  &__skill,
  &__will {
    label {
      @extend %visually-hidden !optional;
    }

    input[type='range'] {
      width: 100%;
    }

    width: 300px;
  }

  &__skill-number,
  &__will-number {
    width: 50px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .skill-table {
    display: block;
    border: none;

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;
    }

    tr {
      border-radius: 5px;
      margin: 12px 0;
      display: flex;
      flex-wrap: wrap;
      td {
        display: block;
      }

      td.skill-table__skill,
      .skill-table__will {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80% !important;
        label {
          display: block;
          width: 50px;
        }
        input[type='range'] {
          width: calc(100% - 50px);
        }
      }

      td.skill-table__skill-number,
      td.skill-table__will-number {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 15px;
        width: 20% !important;
      }

      td.skill-table__skill-name {
        order: -1;
        padding: 8px;
        flex-basis: calc(100% - 55px);
        flex-grow: 1;
        flex-shrink: 1;
        line-height: 32px;
        background: var(--table-header-bg);
        color: var(--table-header-fg);

        a {
          color: var(--table-header-fg);
        }
      }

      td.skill-table__delete {
        padding: 0;
        display: flex;
        flex-basis: 55px;
        flex-direction: row-reverse;
        background: var(--table-header-bg);
        color: var(--table-header-fg);

        button {
          padding: 8px;
        }
      }
    }
  }
}
