.trashcan-icon,
.skill-icon,
.cog-icon,
.darkmode-icon,
.icon {
  display: block;
}

.darkmode-icon {
  .moon-shadow {
    transition: cx 400ms ease;
  }

  .rays {
    transition: stroke-dashoffset 400ms ease;
    stroke-dashoffset: 24;
    stroke-dasharray: 12;
  }

  .sun {
    fill: #fc3;
  }

  .moon-shadow {
    fill: black;
  }

  .rays,
  .sun-stroke {
    stroke-width: 2;
    stroke: #222;
    fill: none;
  }

  &.dark {
    .rays {
      stroke-dashoffset: 12;
      stroke-dasharray: 12;
    }

    .rays,
    .sun-stroke {
      stroke: #fff;
    }
  }
}

.trashcan-icon {
  &__top {
    transition: transform 250ms ease;
  }

  &:hover {
    .trashcan-icon__top {
      transform: translateY(-3%);
    }
  }
}

.cog-icon {
  g {
    transition: transform 250ms ease;
    transform-origin: center;
  }

  &:hover {
    g {
      transform: rotate(45deg);
    }
  }
}
