.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-list__item {
  
  background: var(--tag-bg);
  color: var(--tag-fg);
  border-radius: 8px;
  padding: 8px;

  a {
    color: var(--tag-fg);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
