.text-area {
  font-family: sans-serif;
  font-size: 1em;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--input-border);
  background: var(--input-background);
  color: var(--input-color);
  min-height: 100px;

  &:active,
  &:focus {
    border-radius: 0;
    outline: 3px solid var(--input-outline);
  }
}
