.toaster {
  list-style: none;
  padding: 0;
  margin: 8px;
  position: fixed;
  right: 0;
  bottom: 0;
  display: inline-flex;
  gap: 1rem;

  flex-direction: column-reverse;
  &__item {
    width: auto;
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    box-shadow: 0 0 2px 0 #000;
    background: color;
    background: #fff;
    color: #000;
    opacity: 1;
    animation: toast-fade-out 500ms linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
}

@keyframes toast-fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
