@import './vars';
@import './base';

.result-list {
  @extend %content-width;

  &__name {
    line-height: 1;
    margin-bottom: 24px;

  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 32px;
    margin-bottom: 32px;
    background: var(--header-background);
    color: #fff;
  }
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-size: 14px;
    display: inline-block;
    background: var(--third-color);
    color: #fff;
    margin-right: 4px;
    border-radius: 8px;
    padding: 8px;
  }
}