:root {
  --main-background: #222;
  --main-color: #fff;
  --search-background: #333;
  --second-color: deeppink;
  --third-color: #1f2f5f;
  --disabled-color: #777777;
  --header-background: #000;
  --nav-button-background: var(--header-background);
  --nav-button-color: var(--second-color);
  --nav-button-hover-background: var(--main-background);
  --nav-button-hover-color: var(--main-color);
  --input-border: var(--second-color);
  --input-background: #000;
  --input-color: #fff;
  --login-background: #fff;
}

html.light-mode {
  --main-background: #f4f4f4;
  --header-background: pink;
  --main-color: #222;
  --search-background: #fff;
}
