@import '../../css/helpers';

.result-list {
  @extend %content-width;
  padding: 32px 16px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    .list-item {
      margin-bottom: 32px;
      padding: 32px;
      border-radius: 16px;
      background: var(--header-background);
      color: var(--main-color);

      &-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 24px;

        &__title {
          margin: 0;
          line-height: 1;
        }

        &__pronouns {
          background: var(--main-background);
          margin-left: 8px;
          font-size: 0.6em;
          border-radius: 4px;
          padding: 2px 8px;
        }

        &__location,
        &__company,
        &__website {
          display: flex;
          align-items: center;
          background: var(--main-background);
          border-radius: 4px;
          padding: 2px 8px;
          font-size: 0.6em;
          margin-left: 8px;

          svg {
            color: var(--primary-button-bg);
            width: 16px;
            height: 16px;
          }

          &-text {
            margin-left: 4px;
          }
        }
      }
    }

    @media (min-width: 1000px) {
      display: flex;
      flex-wrap: wrap;

      .list-item {
        flex-basis: 100%;
      }
    }
  }

  a {
    color: var(--main-color);
  }
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-size: 0.6em;
    display: inline-block;
    background: var(--secondary-button-bg);
    color: var(--secondary-button-fg);
    margin-right: 4px;
    border-radius: 8px;
    padding: 8px;

    a {
      color: var(--secondary-button-fg);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
