@import '../../css/helpers';

.header {
  background: var(--header-background);
  padding: 24px 16px;

  &__content {
    @extend %content-width;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    display: none;
  }

  &__menu {
    width: 200px;

    display: flex;
    justify-content: flex-end;

    a {
      cursor: pointer;
      width: 64px;
      height: 64px;
      border: none;

      color: var(--nav-button-color);

      svg {
        width: 100%;
        height: 100%;
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--nav-button-hover-background);
        color: var(--nav-button-hover-color);
      }
    }
  }
}

@media (min-width: 500px) {
  .header {
    &__title {
      display: block;
      flex: 1;

      h1 {
        margin: 0;
        font-size: 28px;
      }
    }
  }
}
