@import '../../css/helpers';

.header {
  position: fixed;
  background: var(--header-background);
  padding: 24px 16px;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;

  & + * {
    margin-top: 150px;
  }

  &::after {
    position: initial;
    margin-bottom: 100px;
  }

  &__content {
    @extend %content-width;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    display: none;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    button,
    a {
      cursor: pointer;
      width: 64px;
      height: 64px;
      padding: 8px;
      border: none;

      color: var(--nav-button-color);

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--nav-button-hover-background);
        color: var(--nav-button-hover-color);
        outline: 3px solid var(--input-outline);
        border-radius: 0;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__title {
      display: block;
      flex: 1;

      h1 {
        margin: 0;
        font-size: 1.4em;
      }
    }
  }
}
