.button {
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  padding: 8px;
  border: 2px solid var(--primary-button-bg);
  border-radius: 4px;
  background: var(--primary-button-bg);
  color: var(--primary-button-fg);
  text-transform: uppercase;

  &:active,
  &:focus {
    border: 2px solid white;
    border-radius: 0;
    outline: 3px solid var(--input-outline);
  }
}

.button--unstyled {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 0;
  color: currentColor;

  &:active,
  &:focus {
    border: none;
    outline: 3px solid var(--input-outline);
  }
}

.button--primary {
  border: 2px solid var(--primary-button-bg);
  background: var(--primary-button-bg);
  color: var(--primary-button-fg);
}

.button--secondary {
  border: 2px solid var(--secondary-button-bg);
  background: var(--secondary-button-bg);
  color: var(--primary-button-fg);
}

.button--danger {
  border: 2px solid var(--danger-button-bg);
  background: var(--danger-button-bg);
  color: var(--primary-button-fg);
}

.button--disabled {
  border: 2px solid var(--disabled-color);
  background: var(--input-background);
  color: var(--disabled-color);
}

.button--dropdown {
  position: relative;
}
